$color-normal: #333333;
$color-strong: #222222;
$color-titles: #111111;
$color-links:  #0880e8;
$color-bg:     #f4f4f4;

$width-content:  42rem;
$width-narrow:   30rem;
$margin-default: 1rem;
$margin-wide:    3rem;
$margin-narrow:  0.25rem;

$border-radius: 0.25rem;

body {
    font-family: Arial, sans-serif;
    color:       $color-normal;

    max-width: $width-content;
    margin:    0 auto;

    > header {
        display: flex;

        justify-content: space-between;
        align-items:     flex-end;

        margin-bottom: $margin-wide;

        a.title {
            text-decoration: none;

            h1 {
                margin-bottom: 0;
                font-size:     250%;
            }

            h2 {
                margin-top: 0;
                font-size:  100%;
            }
        }

        nav ul {
            list-style-type: none;

            li {
                display: inline;

                a {
                    text-decoration: none;

                    color: $color-strong;
                }
            }

            li:not(:last-child)::after {
                // That `\A` here, which inserts a line break on the left side
                // of the middle dot, is a really dirty trick.
                //
                // It's not actually rendered as a line break, but it is
                // rendered as whitespace with a certain width. This is done to
                // to counter-act whitespace on the right side of the middle
                // dot, which stems from the markup and which I can't get rid of
                // easily.
                //
                // Looks like there are CSS features in the pipeline that could
                // help me solve this in a sane way[1], but we aren't there yet.
                //
                // [1]: `text-space-collapse: discard` on the parent should do
                //      the trick, once available.
                content: "\A·";

                margin: $margin-narrow;
            }
        }
    }

    > main img {
        max-width: 100%;
    }

    > footer {
        margin-top: $margin-wide;

        font-size: 80%;

        display:        flex;
        flex-direction: column;
        align-items:    center;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-titles;
}

strong {
    color: $color-strong;
}

a {
    color:       $color-links;
    font-weight: bold;
}

form.newsletter {
    max-width: $width-narrow;
    margin:    $margin-wide auto;

    border-radius:    $border-radius;
    background-color: $color-bg;

    padding: $margin-default;

    h2 {
        margin-top: 0;
    }

    input {
        margin: $margin-narrow * 2 0;
    }

    input[type=email] {
        width:      100%;
        box-sizing: border-box
    }

    div.submit {
        text-align: center;

        input[type=submit] {
            margin: 0;
            border: 0 none;

            border-radius: $border-radius;
            padding:       $margin-narrow * 2 $margin-default;

            font-weight: bold;

            color:            #ffffff;
            background-color: #444444;
        }
    }
}
