[workspace]
resolver = "2"
members = [
    "fj",
    "fj-app",
    "fj-debug",
    "fj-kernel",
    "fj-math",

    "models/cuboid",
    "models/group",
    "models/spacer",
    "models/star",

    "release-operator",
]
default-members = [
    "fj-app",
    "fj-debug",
    "fj-kernel",
    "fj-math",
]
