[workspace]
resolver = "2"
members = [
    "crates/fj",
    "crates/fj-app",
    "crates/fj-export",
    "crates/fj-host",
    "crates/fj-interop",
    "crates/fj-kernel",
    "crates/fj-math",
    "crates/fj-operations",
    "crates/fj-proc",
    "crates/fj-viewer",
    "crates/fj-window",

    "models/cuboid",
    "models/spacer",
    "models/star",
    "models/test",

    "tools/autolib",
    "tools/automator",
    "tools/export-validator",
    "tools/release-operator",
]
default-members = [
    "crates/fj",
    "crates/fj-app",
    "crates/fj-export",
    "crates/fj-host",
    "crates/fj-interop",
    "crates/fj-kernel",
    "crates/fj-math",
    "crates/fj-operations",
    "crates/fj-proc",
    "crates/fj-viewer",
    "crates/fj-window",
]


[workspace.package]
version = "0.19.0"
edition = "2021"

description = """\
Early-stage, next-generation, code-first CAD application. Because the world \
needs another CAD program.\
"""
readme = "README.md"
homepage = "https://www.fornjot.app/"
repository = "https://github.com/hannobraun/fornjot"
license = "0BSD"
keywords = ["cad", "programmatic", "code-cad"]
categories = ["encoding", "mathematics", "rendering"]


[workspace.dependencies.fj]
version = "0.19.0"
path = "crates/fj"

[workspace.dependencies.fj-export]
version = "0.19.0"
path = "crates/fj-export"

[workspace.dependencies.fj-host]
version = "0.19.0"
path = "crates/fj-host"

[workspace.dependencies.fj-interop]
version = "0.19.0"
path = "crates/fj-interop"

[workspace.dependencies.fj-kernel]
version = "0.19.0"
path = "crates/fj-kernel"

[workspace.dependencies.fj-math]
version = "0.19.0"
path = "crates/fj-math"

[workspace.dependencies.fj-operations]
version = "0.19.0"
path = "crates/fj-operations"

[workspace.dependencies.fj-proc]
version = "0.19.0"
path = "crates/fj-proc"

[workspace.dependencies.fj-viewer]
version = "0.19.0"
path = "crates/fj-viewer"

[workspace.dependencies.fj-window]
version = "0.19.0"
path = "crates/fj-window"
