[package]
name = "fj-proc"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.47"
quote = "1.0.21"

[dependencies.serde]
version = "1.0.147"
optional = true

[dependencies.syn]
version = "1.0.102"
features = ["full", "extra-traits"]

[dev-dependencies]
fj.workspace = true
