<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Fornjot</title>

        <link href="style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <header>
            <a class="title" href="/">
                <h1>Fornjot</h1>
                <h2>The world needs another CAD program.</h2>
            </a>
            <nav>
                <ul>
                    <li><a href="/">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <p>
                This website is maintained by <a href="https://hanno.braun-odw.eu/">Hanno Braun</a>, creator of Fornjot.
            </p>

            <address>
                Hanno Braun<br />
                Untere Pfarrgasse 19<br />
                64720 Michelstadt<br />
                <br />
                <a href="mailto:hanno@braun-odw.eu">hanno@braun-odw.eu</a><br />
                <a href="https://matrix.to/#/@hanno:braun-odw.eu">@hanno:braun-odw.eu</a>
            </address>

            <p>
                <strong>Please consider supporting Fornjot by <a href="https://github.com/sponsors/hannobraun">sponsoring me</a>.</strong>
            </p>
        </footer>
    </body>
</html>
