<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Fornjot</title>

        <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <header>
            <h1>Fornjot</h1>
            <h2>The world needs another CAD program.</h2>
        </header>
        <main>
            {{ section.content | safe }}
        </main>
        <footer>
            <p>
                Please consider supporting Fornjot by <a href="https://github.com/sponsors/hannobraun">sponsoring its main developer</a>.
            </p>
        </footer>
    </body>
</html>
