[package]
name = "fj-viewer"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
fj-interop.workspace = true
fj-math.workspace = true
nalgebra = "0.32.2"
tobj = "4.0.0"
raw-window-handle = "0.5.2"
thiserror = "1.0.40"
tracing = "0.1.37"

[dependencies.bytemuck]
version = "1.13.1"
features = ["derive"]

[dependencies.image]
version = "0.24"
default-features = false
features = ["png", "jpeg"]

[dependencies.wgpu]
version = "0.16.1"
features = ["webgl"]

# We don't depend on `getrandom` directly, but we need this to enable the `js`
# feature when cross-compiling to WASM. Otherwise, `getrandom` will not build.
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.10"
features = ["js"]
