[package]
name = "fj-viewer"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
bytemuck = "1.13.1"
chrono = "0.4.24"
egui = "0.21.0"
egui-wgpu = "0.21.0"
fj-interop.workspace = true
fj-math.workspace = true
nalgebra = "0.32.2"
tobj = "3.2.4"
raw-window-handle = "0.5.1"
thiserror = "1.0.40"
tracing = "0.1.37"

[dependencies.image]
version = "0.24"
default-features = false
features = ["png", "jpeg"]

[dependencies.rfd]
version = "0.11.2"
default_features = false
features = ["xdg-portal"]

[dependencies.wgpu]
version = "0.15.1"
features = ["webgl"]

# We don't depend on `getrandom` directly, but we need this to enable the `js`
# feature when cross-compiling to WASM. Otherwise, `getrandom` will not build.
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.8"
features = ["js"]
