[package]
name = "fj-viewer"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
bytemuck = "1.13.0"
chrono = "0.4.23"
crossbeam-channel = "0.5.6"
egui = "0.20.1"
egui-wgpu = "0.20.0"
fj-interop.workspace = true
fj-math.workspace = true
raw-window-handle = "0.5.0"
thiserror = "1.0.35"
tracing = "0.1.37"
wgpu_glyph = "0.18.0"

[dependencies.rfd]
version = "0.11.0"
default_features = false
features = ["xdg-portal"]

[dependencies.wgpu]
version = "0.14.2"
features = ["webgl"]

# We don't depend on `getrandom` directly, but we need this to enable the `js`
# feature when cross-compiling to WASM. Otherwise, `getrandom` will not build.
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.8"
features = ["js"]
