[package]
name = "fj-viewer"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
bytemuck = "1.12.3"
chrono = "0.4.22"
crossbeam-channel = "0.5.6"
egui = "0.19.0"
egui-wgpu = "0.19.0"
fj-interop.workspace = true
fj-math.workspace = true
raw-window-handle = "0.4.3"
thiserror = "1.0.35"
tracing = "0.1.37"
wgpu_glyph = "0.17.0"

[dependencies.rfd]
version = "0.10.0"
default_features = false
features = ["xdg-portal"]

[dependencies.wgpu]
version = "0.13.1"
features = ["webgl"]
